@media (max-width: 575px) {
    header {
        .contact-header {
            .brand {  
                h1 {
                    text-align: center;
                    padding-left: 0;
                }
            }
            .header-contact {
                text-align: center;
                h3 {
                   // font-size: 15px;
                    
                    padding-right: 0;
                    span{
                        
                   }
                }
            }
        }
        .head-image {
            background-color: black;
            background-image: url("../img/doradca_przy_stole.jpeg");
            background-position: -300px center;
            background-repeat: no-repeat;
            background-size: cover;
            .blend{
                .container{
                        h2{
                            font-size: 38px;
                        }
                    h4{
                    font-size: 20px;
                    padding: 20px 40px; 
                    display: none;
                    }
                    h5{
                        font-size: 18px;
                        padding: 20px 40px; 
                        
                    }
                }        
            } 
        }  
        
    }

    .contact .contact-big{
        h2{
        }
        div{
            max-width: 500px;
            margin: 0 auto;
            h3 {
                font-size: 18px !important;
                span{
                    font-size: 16px;
                }
            }
        }
    }
}


@media (max-width: 768px) and (min-width: 576px) {
    header {
        .contact-header {
            .brand {  
                h1 {
                    text-align: center;
                    padding-left: 0;
                }
            }
            .header-contact {
                text-align: center;
                h3 {
                    padding-right: 0;
                }
            }
        }
        .head-image {
            background-color: black;
            background-image: url("../img/doradca_przy_stole.jpeg");
            background-position: -250px top;
            background-repeat: no-repeat;
            background-size: 160%;
            .blend{
                .container{
                        h2{
                            font-size: 38px;
                        }
                    h4{
                    font-size: 20px;
                    padding: 20px 40px; 
                    display: none;
                    }
                    h5{
                        font-size: 18px;
                        padding: 20px 40px; 
                        
                    }
                }        
            } 
        }  
    }
}

@media (max-width: 991px) and (min-width: 769px) {
    header {
        .contact-header {
            .brand {  
                h1 {
                    text-align: center;
                    padding-left: 0;
                }
            }
            .header-contact {
                text-align: center;
                h3 {
                    padding-right: 0;
                }
            }
        }
        .head-image {
            background-color: black;
            background-image: url("../img/doradca_przy_stole.jpeg");
            background-position: -450px top;
            background-repeat: no-repeat;
            background-size: 170%;
            .blend{
                .container{
                        h2{
                            font-size: 46px;
                        }
                    h4{
                    font-size: 20px;
                    padding: 20px 40px; 
                    }
                    h5{
                        font-size: 18px;
                        padding: 20px 40px; 
                        
                    }
                }        
            } 
        }  
    } 
    .contact{
        margin-bottom: 50px;
        .map{
            h2{
                display: none;
            }
            padding: 20px;        	
        }
    }

    
}

@media (max-width: 991px){
    nav { 
        a {
            background-color: rgba(8, 49, 107, 0.9) !important;
        }
    }
}

@media (max-width: 1199px) and (min-width: 992px){
header{
    .head-image {
        background-color: black;
        background-image: url("../img/doradca_przy_stole.jpeg");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 120%;
        .blend{
            .container{
                    h2{
                        font-size: 46px;
                    }
                h4{
                font-size: 20px;
                padding: 20px 40px; 
                }
                h5{
                    font-size: 18px;
                    padding: 20px 40px; 
                    
                }
            }        
        } 
    }  
} 
    nav {
        font-size: 16px;
        background-color: $blue_palette_9;
        height: 70px;
        .navbar-brand {
            display: none;
        }

        .navbar-nav{
            padding-left: 13px;
         }

        a {
            color: $blue_palette_1;
            text-transform: uppercase;
            height: 70px;
            line-height: 55px;
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
        a:hover {
            color: $blue_palette_1;
            background-color: $blue_palette_7;
        }
    }

    .services{
        .service-1, .service-2, .service-3{
            h2{
                font-size: 30px;
            }
            p{
                font-size: 18px;
            }
            button{
            }
            button:hover{
            }
        }
    }
    
    .contact .contact-big{
        h2{
        }
        div{
            max-width: 500px;
            margin: 0 auto;
            h3 {
                font-size: 24px;
                span{
                }
            }
        }
    }
 }