$background: rgb(214, 229, 255);
$main_color: rgb(9, 51, 141);

$blue_palette_1:#f7fbff;    
$blue_palette_2:#c9d1d8;    
$blue_palette_3:#c6dbef;
$blue_palette_4:#9ecae1;        
$blue_palette_5:#4292c6;
$blue_palette_6:#2171b5;    
$blue_palette_7:#08519c;    
$blue_palette_8:#08306b;
$blue_palette_9:#041333;

// $blue_palette_1:#f7fbff;    
// $blue_palette_2:#deebf7;    
// $blue_palette_3:#c6dbef;
// $blue_palette_4:#9ecae1;    
// $blue_palette_5:#6baed6;    
// $blue_palette_6:#4292c6;
// $blue_palette_7:#2171b5;    
// $blue_palette_8:#08519c;    
// $blue_palette_9:#08306b;