@import 'variables';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $blue_palette_1;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.5px;
}

.nav-spacing{
    height: 70px;
    display: none;
}

header {
    background-color: $blue_palette_1;
    .contact-header {
        color: $blue_palette_9;
        background-color: $blue_palette_1;
        .brand {  
            padding: 0; 
            h1 {
                font-size: 30px;
                padding-top: 20px; 
                text-align: left;
                padding-left: 32px;
            }
        }
        .header-contact {
            text-align: right;
            padding: 12px 0 8px 0;
            h3 {
                color: $blue_palette_9;
                font-size: 20px;
                padding-right: 50px;
            }
        }
    }
    nav {
        font-size: 16px;
        background-color: $blue_palette_9;
        height: 70px;
        .navbar-brand {
            display: none;
        }

        .navbar-nav{
            padding-left: 13px;
         }

        a {
            color: $blue_palette_1;
            text-transform: uppercase;
            height: 70px;
            line-height: 55px;
            padding-left: 25px !important;
            padding-right: 25px !important;
        }
        a:hover {
            color: $blue_palette_1;
            background-color: $blue_palette_7;
            
        }
    }
    .head-image {
        background-color: black;
        background-image: url("../img/doradca_przy_stole.jpeg");
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        .blend{
            background-color: rgba(0, 0, 0, 0.4);
        .container{
            padding: 30px;
            color: $blue_palette_1;
            background-color: transparent;
            h2, h4, h5{
                padding: 20px;
                margin-right: 30vw;
                line-height: 2;
            }

            button{
                display: block;
                margin: 20px;
                font-size: 20px;
                padding: 12px;
                border-radius: 15px;
            }
            button:hover{
                color: $blue_palette_9;
                font-weight: 700;
            }
        }
    }
    }
}

.services{
    margin-bottom: 50px;
    .service-1, .service-2, .service-3{
        margin-top: 20px;
        color: $blue_palette_9;
        padding: 30px;
        h2{
            padding: 30px;
            padding-left: 0px;
            margin: 0;
            text-align: left;
            font-size: 40px;
            letter-spacing: 5px;
            span{
                margin-right: 10px;
                text-shadow: 4px 4px .3px rgba(8, 82, 156, 0.623);
            }
        }
        p{
            color: $blue_palette_8;            
            text-align: justify;
            font-size: 20px;
            letter-spacing: 2px;
        }
        button{
            display: block;
            border: 2px solid $blue_palette_8;
            color: $blue_palette_8;
            border-radius: 15px;
            font-weight: 700;
            padding: 12px;
            font-size: 18px;
            margin: 0 auto;
        }

        button:hover{
            background-color: $blue_palette_8;
            color: $blue_palette_1;
            cursor: pointer;
        }
    }
}

.about{
    background-color: black;
    background-image: url("../img/buildings.jpeg");
    background-size: 100%;
    background-attachment: fixed;
    .blend{
        background-color: rgba(4, 15, 31, 0.8);

        h2{
            font-size: 50px;
            margin: 100px 0 50px 0;
            color: $blue_palette_1;
        }
        
        h3{
            font-weight: 700;
            font-size: 20px;
            line-height: 2;
            letter-spacing: 5px;
            color: $blue_palette_1;  
        }

        p{
            font-size: 18px;
            line-height: 2;
            letter-spacing: 5px;
            color: $blue_palette_1;
            padding: 50px 0;
        }

        .about-img{
            border-radius: 18px;
            box-shadow: 10px 15px 0px 0 $blue_palette_6;
            display: block;
            margin: 100px auto;
            height: 450px;
            width: 380px;
        }
    }
    
}

.contact-notification{
    background-color: $blue_palette_8;
    width: 400px;
    display: flex;
    position: fixed;
    bottom: calc(50vh - 100px);
    right: -406px;
    color: $blue_palette_1;
    transition: ease .7s;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    z-index: 100;
    .contact-n-button{
        width:50px;
        writing-mode: vertical-rl;
        //text-orientation: upright;
        padding: 12px;
        letter-spacing: 5px;
    }
    .contact-n-text{
        padding: 12px;
        h5{
            text-align: center;
            padding: 20px 5px;;
        }
        h5:first-child{
            text-align: center;
            padding: 20px 7px;
            font-size: 26px;
        }
    }
}

.contact-notification:hover{
    transform: translateX(-350px)
}

.scroll-up-button{
    background-color: $blue_palette_8;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: calc(50vh - 155px);
    right: -56px;
    color: $blue_palette_1;
    transition: all ease .7s;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    font-size: 40px;
    padding: 2px;
    padding-left: 15px;
    z-index: 99;
    a{
        text-decoration: none;
        color: $blue_palette_1;
    }
}

.scroll-up-button:hover{
    background-color: $blue_palette_5;
    cursor: pointer;
    color: $blue_palette_1; 
    z-index: 101;
}